#arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 20px solid transparent;  /* left arrow slant */
	border-top: 20px solid transparent; /* right arrow slant */
	border-left: 20px solid black; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: fixed;
	right: 4px;
	top: 49%;
	z-index: 1;
	opacity: 0.5;
}

#arrow-right:hover {
	border-left: 20px solid gray;
	opacity: 1;
		-webkit-transition:opacity .25s ease-in;
-moz-transition:opacity .25s ease-in;
-o-transition:opacity .25s ease-in;
transition:opacity .25s ease-in;

}

#arrow-left {
	width: 0; 
	height: 0; 
	border-bottom: 20px solid transparent;  /* left arrow slant */
	border-top: 20px solid transparent; /* right arrow slant */
	border-right: 20px solid black; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: fixed;
	right: 30px;
	top: 49%;
	z-index: 1;
	opacity: 0.5;
}

#arrow-left:hover {
	border-right: 20px solid gray;
	opacity: 1;
	-webkit-transition:opacity .25s ease-in;
-moz-transition:opacity .25s ease-in;
-o-transition:opacity .25s ease-in;
transition:opacity .25s ease-in;
}