body {
	font-family: Georgia;
	font-size: 16px;
	line-height: 2em;
}

#poem {
	margin: 30 auto;
	width: 500px;
	letter-spacing: 1.1;
}

.drop {
	float: left;
	font-size: 75px;
	margin: -5px 15 -10px 0px;
	line-height: 1em;
}
.up {
	text-transform: uppercase;
	font-style: italic;

}
