.toplines {
	width: 34000px;
	border-top: 10px dashed black;
	height: 70px;
	margin-top: 20px;
}

.bottomlines {
	width: 34000px;
	border-bottom: 10px dashed black;
	height: 70px;
	margin-top: 115px;
}

.line.bumper {
	width: 700px;
}

.line {
	float: left;
	width: 2000px;
	height: 30px;
	padding: 20px;
}

.last.line {
	width: 100px;
}

#viewfinder {
	position: fixed;
	width: 300px;
	height: 300px;
	border: 10px solid black;
	top: 0;
	left: 50%;
	margin-left: -150px;
}