html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.3;
	font-size: 40px;
	font-family: "Arial";
}
.container {
	width: 1090px;
	margin: 0 auto;
	padding: 5px;
}

.verb {
	width: auto;
	float: left;
}

.me {
background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	float: left;
	margin-left: 10px;
}

.rest {
	float: left;
	margin-left: 40px;
}

.me .lastmy {
	background: black;
	  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}